[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = git@github.com:hiruna/lvgl_esp32_drivers.git
	branch = develop/lvgl_8.3.7_idf_5.2
[submodule "components/lvgl"]
	path = components/lvgl
	url = git@github.com:lvgl/lvgl.git
	branch = release/v8.3
